<h1 mat-dialog-title class="new-message-title">
  View All Messages for: {{listing.name}}
</h1>
<div *ngIf="userSelected">
  <div class="select-user-button">
  <button mat-raised-button color="primary" (click)="selectUser()"
          [disabled]="submitDisabled">Choose user</button>
  </div>
</div>
<form class="classic-form">
  <div *ngIf="!userSelected">
  <mat-form-field>
  <mat-select placeholder="User" [(ngModel)]="recipient" name="receiving user">
  <mat-option *ngFor="let user of users" [value]="user">{{user.firstName}} {{user.lastName}}</mat-option>
  </mat-select>
  </mat-form-field>
    <button mat-raised-button color="primary" (click)="getMessages()"
            [disabled]="submitDisabled">Select</button>
  </div>
  <div *ngIf="userSelected">
  <div class="mat-card-content">
  <mat-card class="listing-card" *ngFor="let message of messages">
    <div class="message-text">
      {{message.sendingUser.firstName}} {{message.sendingUser.lastName}}:
      {{message.message}}
    </div>
  </mat-card>
  </div>
  </div>
  <mat-form-field class="example-full-width">
  <textarea matInput matTextareaAutosize matAutosizeMinRows="3" [(ngModel)]="message" name="message"
            placeholder="Message" (keyup.enter)="onReply()" ></textarea>
  </mat-form-field>
  <div class="modal-buttons">
    <button mat-raised-button class="button-submit-message" color="primary" (click)="onReply()"
            [disabled]="submitDisabled">Reply</button>
    <button mat-raised-button class="button-cancel-message" color="primary" (click)="close()" [disabled]="submitDisabled">Close</button>
  </div>
</form>
