<h1 mat-dialog-title class="message-title">Message user: {{data?.listing?.user?.firstName}}
  {{data?.listing?.user?.lastName}}
</h1>
<form class="classic-form">
  <mat-form-field>
  <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" [(ngModel)]="message" name="message" (keyup.enter)="onSubmit()"></textarea>
  </mat-form-field>
  <mat-error>Please enter your message.</mat-error>
  <button mat-raised-button class="button-cancel-message" (click)="close()" [disabled]="submitDisabled">Cancel</button>
  <button mat-raised-button class="button-submit-message" color="primary" (click)="onSubmit()"
          [disabled]="submitDisabled">Submit
  </button>
</form>
