<mat-card class="listing-view-card">
  <div class="listing-view-content">
    <div class="listing-view-image">
      <img src="{{listing?.imageUrl}}" />
    </div>
    <div class="listing-view-text">
      <div class="listing-view-name">
        <a routerLink="/listings/{{listing?._id}}">{{listing?.name}}</a>
      </div>
      <div class="listing-view-seller">
        <a routerLink="/users/{{listing?.user?._id}}">{{listing?.user?.firstName}} {{listing?.user?.lastName}}</a>
        - {{(listing?.userRating) ? (listing?.userRating).toFixed(0) + "% positive ratings" : "Not Rated"}}
      </div>
      <div class="listing-view-price">
        {{(listing?.price) ? '$'+(listing?.price) : ''}}
      </div>
      <div class="listing-view-description">
        {{listing?.description}}
      </div>
      <button mat-raised-button class="button-edit-listing" *ngIf="userOwnsListing()" color="primary"
              (click)="openEditListingModal()" [disabled]="submitDisabled">
        Edit Listing
      </button>
    </div>
  </div>
  <a>
    <mat-icon class="flag-button" (click)="openFlagModal()">flag</mat-icon>
  </a>
  <div class="listing-view-buttons">
    <button mat-raised-button class="listing-view-offer-button" *ngIf="!userOwnsListing()" color="primary"
            (click)="makeOffer()">
      Make an Offer
    </button>
    <button mat-raised-button class="listing-view-question-button" *ngIf="!userOwnsListing()" color="primary"
            (click)="askQuestion()">
      Ask a Question
    </button>
  </div>
</mat-card>

<mat-card class="listing-offers-card">
  <mat-card-header>
    <mat-card-title>Offers</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="offers.length === 0 && userOwnsListing()">You have not yet received any offers for this listing.</span>
    <span *ngIf="offers.length === 0 && !userOwnsListing()">You have not yet made any offers for this listing.</span>
    <app-listing-offer *ngFor="let offer of offers" [offer]="offer" [listingOwner]="listing.user"></app-listing-offer>
  </mat-card-content>
</mat-card>
