<mat-card class="listing-view-card">
  <div class="listing-view-image" [ngStyle]="{ 'background-image': 'url(' + this.mainImage + ')'}"></div>
  <div class="listing-view-text">
    <div class="listing-view-name">
      <a *ngIf="listing.isOpen" routerLink="/listings/{{listing._id}}">
        {{listing.name}}
      </a>
      <mat-label class="listing-view-name-closed" *ngIf="!listing.isOpen">{{listing.name}} (CLOSED)</mat-label>

      <mat-label class="listing-posted-date">{{listing.createdAt | date: 'dd/MM/yyyy'}}</mat-label>
    </div>
    <div class="listing-view-seller">
      <a routerLink="/users/{{listing?.user?._id}}">{{listing.user.firstName}} {{listing.user.lastName}}</a>
    </div>
    <div class="listing-view-description">
      {{listing.description}}
    </div>

  </div>
  <div class="listing-view-card-right-content">
    <div class="listing-view-price">
      {{(listing.price) ? '$'+(listing.price) : ''}}
    </div>
    <a *ngIf="!userOwnsListing()">
      <mat-icon class="flag-button" (click)="openFlagModal(listing)">flag</mat-icon>
    </a>
    <a *ngIf="userOwnsListing()">
      <mat-icon class="flag-button" (click)="openEditListingModal()" >edit</mat-icon>
    </a>
  </div>


</mat-card>

<mat-card class="listing-images">
  <div class="listing-view-image-preview" *ngFor="let imageURL of this.listing.imageUrl"
       [ngStyle]="{ 'background-image': 'url(' + imageURL + ')'}" (click)="switchMainImage(imageURL)"></div>
</mat-card>

<mat-card class="listing-offers-card">
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="userOwnsListing(); else userDoesNotOwnListing">Offers</span>
      <a *ngIf="!userOwnsListing()">
        <mat-icon class="flag-button" (click)="makeOffer()">feedback</mat-icon>
      </a>
      <ng-template #userDoesNotOwnListing>Your Offers</ng-template>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="(!offers || offers?.length === 0) && userOwnsListing()">
      You have not yet received any offers for this listing.
    </span>
    <span *ngIf="(!offers || offers?.length === 0) && !userOwnsListing()">
      You have not yet made any offers for this listing.
    </span>
    <app-listing-offer *ngFor="let offer of offers" [offer]="offer" [listing]="listing" [showUser]="userOwnsListing()"
                       (postMessage)="loadMessages(offer)">
    </app-listing-offer>
  </mat-card-content>
</mat-card>

<mat-card class="listing-questions-card">
  <mat-card-header>
    <mat-card-title>Questions</mat-card-title>
    <a *ngIf="!userOwnsListing()">
      <mat-icon class="flag-button" (click)="postQuestion()">add_circle</mat-icon>
    </a>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="!listing?.questions || listing?.questions?.length === 0">
      No questions have been asked about this listing.
    </span>
    <app-listing-question *ngFor="let question of listing?.questions" [question]="question" [listing]="listing"
                          [showUser]="true">
    </app-listing-question>
  </mat-card-content>
</mat-card>
