.listing-view-card {
  display: flex;
  flex-direction: column;
}

.listing-view-content {
  display: flex;
}

.listing-view-image {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 100%;
}

.listing-view-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
}

.listing-view-text {
  display: block;
  width: 70%;
  padding: 0 20px 0 20px;
}

.listing-view-name {
  margin-bottom: 12px;
  font-size: 18pt;
  font-weight: bold;
}

.listing-view-seller,
.listing-view-description {
  font-size: 12pt;
  margin-bottom: 12px;
}

.listing-view-price {
  margin-bottom: 12px;
  font-size: 18pt;
  font-weight: bold;
}

.button-edit-listing {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.listing-view-buttons {
  margin-left: auto;
}

.listing-view-offer-button {
  margin: 12px 20px 0 0;
}

.listing-view-question-button {
  margin-top: 12px;
}

.listing-offers-card {
  margin-top: 12px;
}

#listing-page-toolbar {
  margin-bottom: 10px;
  height: 50px;
  background-color: #EEB211;
}

#category-select-form-field {
  width: 22%;
  margin-right: 30px;
  font-size: 14pt;
}

#search-input-form-field {
  width: 30%;
  margin-right: 30px;
  font-size: 14pt;
}

#sort-select-form-field {
  width: 22%;
  font-size: 14pt;
}

#category-label {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14pt;
}

#search-icon {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14pt;
}

#sort-label {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14pt;
}
