.page-content {
  width: auto;
  max-width: 900px;
  min-width: 700px;
  padding: 8px;
  margin: auto;
}

.listing-box {
  display: flex;
  width: auto;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12),
              0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s;
}

.listing-box:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12),
              0 2px 4px rgba(0,0,0,0.24);
}

.listing-image {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 100%;
}

.listing-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.listing-text {
  display: block;
  width: 55%;
  padding: 0 20px 0 20px;
}

.listing-name {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

.listing-seller {
  font-size: 12pt;
  margin-bottom: 20px;
}

.listing-description {
  font-size: 12pt;
}

.listing-price {
  width: 15%;
  margin: auto 0 auto 0;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}
