.listing-page-icon-group {
  display: block;
}

.listing-view-card {
  display: flex;
  margin: 0 auto;
  margin-left: 20px;
  height: 300px;
}

.listing-images {
  display: inline-block;
  margin: 0 auto;
  margin-left: 20px;
  height: 90px;
}

.listing-view-content {
  display: flex;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.listing-view-card:hover {
  box-shadow: 0 6px 2px -4px rgba(0,0,0,.2),
  0 4px 4px 0 rgba(0,0,0,.14),
  0 2px 10px 0 rgba(0,0,0,.12)
}

/**
 * Same size thumbnails
 */
.listing-view-image {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  height: 100%;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.listing-view-image img {
  float: left;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.listing-view-image-preview {
  display: inline-block;
  vertical-align: left;
  width: 80px;
  height: 100%;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.listing-view-image-preview img {
  float: left;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.listing-view-text {
  display: block;
  width: 50%;
  padding: 0 20px 0 20px;
}

.listing-view-name {
  margin-bottom: 10px;
  font-size: 18pt;
  font-weight: bold;
}

.listing-view-seller {
  margin-bottom: 15px;
}

.listing-view-seller a {
  font-weight: bold;
}

.listing-view-description {
  height: 230px;
  overflow: auto;
}

/*<<<<<<< HEAD*/
.listing-view-price {
  width: 15%;
  margin: auto !important;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  color: green;
}
/*=======*/
.listing-view-buttons {
  margin-left: auto;
}

.listing-view-offer-button {
  margin: 12px 20px 0 0;
}

.listing-view-question-button {
  margin-top: 12px;
}

.listing-offers-card, .listing-questions-card {
  margin-top: 12px;
}

.listing-questions-card {
  margin-bottom: 12px;
}

/*#listing-page-toolbar {*/
  /*margin-bottom: 10px;*/
  /*height: 50px;*/
  /*background-color: #EEB211;*/
/*>>>>>>> master*/

.listing-posted-date {
  font-weight: normal;
  font-size: 11pt;
  color: gray;
}

.listing-view-card-right-content {
  display: flex;
}

/**
  Mobile View
 */
@media screen and (max-width:659px) {
  .listing-view-image {
    margin: 20px 0px 20px 0px;
    width: 85%;
    height:300px;
  }

  .listing-view-card {
    display: inline-block;
    height: auto;
    width: 47%;
    margin-left: 20px;
  }

  .listing-view-price {
    margin: 0px;
    font-size: 24pt;
    font-weight: bold;
  }

  .listing-view-name {
    font-size: 16pt;
  }

  .listing-view-text {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }

  .listing-view-description {
    height: 100%;
    max-height: 150px;
  }
}
