<mat-card>
  <mat-card-header>
    <mat-card-title>Account Recovery</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput required placeholder="Email" type="email" title="email" name="username" [(ngModel)]="email"
               [errorStateMatcher]="emailErrorStateMatcher">
        <mat-error>Please enter a valid Georgia Tech email address.</mat-error>
      </mat-form-field>

      <button mat-raised-button id="button-send-password-reset" color="primary" (click)="onClickSendPasswordReset()"
              [disabled]="submitDisabled">
        Send Password Reset Email
      </button>

      <button mat-raised-button id="button-resend-verification" color="primary" (click)="onClickResendVerification()"
              [disabled]="submitDisabled">
        Resend Verification Email
      </button>

      <button mat-raised-button id="button-cancel-account-recovery" routerLink="/">
        Cancel
      </button>
    </form>
  </mat-card-content>
</mat-card>
