#message-center-card {
  display: flex !important;
  flex-wrap: nowrap;
}
.createdAt-message-text {
  font-size: 12px;
  margin: 0 0 0 600px;
}
.view-all-messages-button {
  margin-bottom: 20px;
}
.individual-message:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mat-card-content {
  height: 250px;
  overflow-y: auto;
}

.listing-text {
  font-size: 20px;
}
