<mat-card class="message-center-card">
  <form class="classic-form">
  </form>
  <h2>Your Listing Messages:</h2>
  <div *ngIf="listings && listings.length < 1">You have no listing messages.</div>
    <div class *ngFor="let listing of listings; let i=index">
      <div *ngIf="i < 5">
          <div class="listing-text">
            <a class="individual-message">
              <div (click)="viewAllMessagesModal(listing)">
                {{listing.name}}
              </div>
            </a>
          </div>
      </div>
    </div>
</mat-card>



