#listing-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5dbb5;
  box-shadow: none;
}

#listing-toolbar .mat-toolbar-row {
  padding: 0 12px !important;
}

#listing-toolbar-container {
  position: relative;
  top: -4px;
  width: auto;
}

.listing-toolbar-label {
  font-size: 14pt;
}

.listing-toolbar-label,
#listing-toolbar-search-icon {
  margin-right: 10px;
}

#listing-toolbar-search-icon {
  position: relative;
  top: 6px;
}

#listing-toolbar .mat-toolbar-row .mat-form-field {
  height: 64px;
  font-size: 14pt;
}

#category-select-form-field {
  width: 22%;
  margin-right: 20px;
}

#search-input-form-field {
  width: 32%;
  margin-right: 20px;
}

#sort-select-form-field {
  width: 22%;
}
