#listing-toolbar {
  background-color: whitesmoke;
  box-shadow: none;
  max-height: 50px;
  border-radius: 5px;
}

.toolbar-spacer {
  min-width: 20px;
  max-width: 20px;
}

.mat-toolbar-multiple-rows {
  max-height: 45px !important;
  min-height:45px;
  display: block;
}

#listing-toolbar .mat-toolbar-row {
  padding: 0 12px !important;
  max-height: 50px !important;
  margin: 0px;
}

#listing-toolbar-container {
  width: auto;
}

.listing-toolbar-label {
  font-size: 11pt;
}

.listing-toolbar-label,
#listing-toolbar-search-icon {
  margin-right: 10px;
}

#listing-toolbar-search-icon {
  position: relative;
  top: 6px;
}

#listing-toolbar .mat-toolbar-row .mat-form-field {
  font-size: 11pt;
}

#category-select-form-field {
  width: 12%;
  margin-right: 12px;
}

#search-input-form-field {
  width: 45%;
  margin-right: 12px;
}

#sort-select-form-field {
  width: 22%;
}
