<mat-card class="user-questions-card">
  <mat-card-header>
    <mat-card-title>
      Your Questions
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-listing-question *ngFor="let question of userQuestions" [question]="question" [listing]="question?.listing"
                          [showListing]="true">

    </app-listing-question>
  </mat-card-content>
</mat-card>

<mat-card class="user-listing-questions-card">
  <mat-card-header>
    <mat-card-title>
      Questions About Your Listings
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-listing-question *ngFor="let question of userListingQuestions" [question]="question"
                          [listing]="question?.listing" [showUser]="true" [showListing]="true">
    </app-listing-question>
  </mat-card-content>
</mat-card>
