.profile-card {
  margin: 0 auto;
  display: block;
  height: auto;
  min-height: 300px;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.profile-card .mat-form-field {
  display: block;
}

.profile-image {
  float: left;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  height: 300px;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.profile-text {
  display: inline-block;
  width: 55%;
  padding: 0 20px 0 20px;
}

.listing-view-card-right-content {
  display: flex;
}


.user-name {
  font-size: 22pt;
  margin-bottom: 12px;
}

.user-bio-text {
  font-size: 12pt;
}

.user-bio-label, .user-email-label{
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 12px;
}

.user-email {
  font-weight: normal;
  font-size: 12pt;
}

.user-rating {
  color: lightgray;
  font-weight: normal;
  font-size: 12pt;
  margin-bottom: 12px;
}

.edit-name {
  font-size: 8pt;
}

.form-group-profile-page {
  display: inline-block;
  width: calc(50% - 30px);
  margin: 0 20px 20px 0;
}

.profile-edit-done-button {
  /*position: absolute;*/
  float: right;
}

#profile-picture-input {
  margin: 10px 0 0 0;
}


@media screen and (max-width:659px) {
  .profile-image {
    margin: 20px 0px 20px 0px;
    width: 85%;
    height:300px;
  }

  .profile-card {
    display: inline-block;
    height: auto;
    width: 47%;
    margin-left: 20px;
  }

  .profile-text {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: auto
  }
}
