.profile-card {
  margin: 0 auto;
  display: block;
  height: auto;
  min-height: 300px;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.profile-card .mat-form-field {
  display: block;
}

.profile-image {
  float: left;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  height: 300px;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.profile-text {
  display: inline-block;
  width: 55%;
  padding: 0 20px 0 20px;
}

.listing-view-card-right-content {
  display: flex;
}


.user-name {
  font-size: 22pt;
  margin-bottom: 12px;
}

.user-bio-text {
  font-size: 12pt;
}

.user-bio-label, .user-email-label{
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 12px;
}

.user-email {
  font-weight: normal;
  font-size: 12pt;
}

.edit-name {
  font-size: 8pt;
}

.form-group-profile-page {
  display: inline-block;
  width: calc(50% - 30px);
  margin: 0 20px 20px 0;
}

.profile-edit-done-button {
  /*position: absolute;*/
  float: right;
}

#profile-picture-input {
  margin: 10px 0 0 0;
}

.profile-listings .mat-expansion-panel-body {
  padding: 0px;
}

mat-expansion-panel.profile-listings {
  width: 94.2%;
  margin: 0 auto;
  margin-left: 25px !important;
}


@media screen and (max-width:659px) {

  mat-expansion-panel.profile-listings {
    width: 52.5% !important;
    margin-left: 20px !important;
  }


  .profile-image {
    margin: 20px 0px 20px 0px;
    width: 85%;
    height:300px;
  }

  .profile-card {
    display: inline-block;
    height: auto;
    width: 47%;
    margin-left: 20px;
  }

  .profile-text {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: auto
  }
}

/*<!---------------------------------------------------------------------------------------->*/
/*<!-----------------------------------LISTING-VIEW-CARD------------------------------------>*/
/*<!---------------------------------------------------------------------------------------->*/


.listing-view-card {
  display: flex !important;
  margin: 0;
  width: auto;
  height: 180px;
  margin-bottom: 12px;
}

.listing-view-card:hover {
  box-shadow: 0 6px 2px -4px rgba(0,0,0,.2),
  0 4px 4px 0 rgba(0,0,0,.14),
  0 2px 10px 0 rgba(0,0,0,.12)
}

.listing-view-content {
  display: flex;
  height: 180px;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.listing-view-card:hover {
  box-shadow: 0 6px 2px -4px rgba(0,0,0,.2),
  0 4px 4px 0 rgba(0,0,0,.14),
  0 2px 10px 0 rgba(0,0,0,.12)
}

/**
 * Same size thumbnails
 */
.listing-view-image {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  height: 100%;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.listing-view-image img {
  float: left;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.listing-view-text {
  display: block;
  width: 50%;
  padding: 0 20px 0 20px;
}

.listing-view-name {
  margin-bottom: 10px;
  font-size: 18pt;
  font-weight: bold;
}


.listing-view-name-closed {
  text-decoration: line-through;
  font-size: 14pt;
  font-weight: normal;
  color: gray;
}

.listing-view-seller {
  margin-bottom: 15px;
}

.listing-view-seller a {
  font-weight: bold;
}

.listing-view-description {
  height: 110px;
  overflow: auto;
}

/*<<<<<<< HEAD*/
.listing-view-price {
  width: 15%;
  margin: auto !important;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  color: green;
}
/*=======*/
.listing-view-buttons {
  margin-left: auto;
}

.listing-view-offer-button {
  margin: 12px 20px 0 0;
}

.listing-view-question-button {
  margin-top: 12px;
}

.listing-offers-card, .listing-questions-card {
  margin-top: 12px;
}

.listing-questions-card {
  margin-bottom: 12px;
}

/*#listing-page-toolbar {*/
/*margin-bottom: 10px;*/
/*height: 50px;*/
/*background-color: #EEB211;*/
/*>>>>>>> master*/

.listing-posted-date {
  font-weight: normal;
  font-size: 11pt;
  color: gray;
}

.listing-view-card-right-content {
  display: flex;
}

/**
  Mobile View
 */
@media screen and (max-width:659px) {
  .listing-view-image {
    margin: 20px 0px 20px 0px;
    width: 85%;
    height:300px;
  }

  .listing-view-card {
    display: inline-block !important;
    height: auto;
    width: auto;
  }

  .listing-view-price {
    margin: 0px;
    font-size: 24pt;
    font-weight: bold;
  }

  .listing-view-name {
    font-size: 16pt;
  }

  .listing-view-text {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: auto
  }

  .listing-view-description {
    height: 100%;
    max-height: 150px;
  }
}


