<mat-card>
  <mat-card-header>
    <mat-card-title>Admin Actions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Add an Admin</mat-label>
        <input matInput placeholder="Enter an Email Address" type="text" title="register-admin" name="register-admin"
               [(ngModel)]="adminEmail" (keyup.enter)="registerAdmin()" [errorStateMatcher]="emailErrorStateMatcher">
        <mat-error>Please enter a valid Georgia Tech email address.</mat-error>
      </mat-form-field>
      <button mat-raised-button id="button-register-admin" color="primary" (click)="registerAdmin()"
              [disabled]="registerAdminDisabled">
        Add Admin
      </button>
    </form>

    <form>
      <mat-form-field>
        <mat-label>Ban a User</mat-label>
        <input matInput placeholder="Enter an Email Address" type="text" title="ban-user" name="ban-user"
               [(ngModel)]="userToBanEmail" (keyup.enter)="registerAdmin()"
               [errorStateMatcher]="emailErrorStateMatcher">
        <mat-error>Please enter a valid Georgia Tech email address.</mat-error>
      </mat-form-field>
      <button mat-raised-button id="button-ban-user" color="primary" (click)="banUser()"
              [disabled]="banUserDisabled">
        Ban User
      </button>
    </form>

    <form>
      <mat-form-field>
        <mat-label>Unban a User</mat-label>
        <input matInput placeholder="Enter an Email Address" type="text" title="unban-user" name="unban-user"
               [(ngModel)]="userToUnbanEmail" (keyup.enter)="banUser()" [errorStateMatcher]="emailErrorStateMatcher">
        <mat-error>Please enter a valid Georgia Tech email address.</mat-error>
      </mat-form-field>
      <button mat-raised-button id="button-unban-user" color="primary" (click)="unbanUser()"
              [disabled]="unbanUserDisabled">
        Unban User
      </button>
    </form>
  </mat-card-content>
</mat-card>
