#main-toolbar-menu-button:active,
#main-toolbar-menu-button:focus {
  outline: none;
}

#main-toolbar-menu-button {
  height: auto;
  width: auto;
  margin-right: 20px;
  font-size: 24pt;
  cursor: pointer;
}

#main-toolbar-logout-button {
  font-size: 12pt;
}

app-main-sidenav {
  display: inline-block;
  width: 100%;
  height: calc(100% - 69px);
}
