<div id="main-toolbar-container" class="toolbar-container">
  <mat-toolbar id="main-toolbar" class="toolbar" color="accent">
      <mat-icon id="main-toolbar-menu-button" (click)="sidenav.toggle()">menu</mat-icon>
    <div routerLink="/listings" class="main-toolbar-logo">
      <a>
        <img src="../../assets/logo.png" height="64" width="85"/>
      </a>
    </div>
    <span flex class="toolbar-spacer"></span>
    <app-listings-feed-toolbar (listEvent)="list()"></app-listings-feed-toolbar>
    <span flex class="toolbar-spacer"></span>
    <!--<div class="main-toolbar-right-button-group">-->
      <button mat-button id="main-toolbar-sell-button" routerLink="/create-listing">
        <mat-icon>note_add</mat-icon>Sell
      </button>
      <button mat-button id="main-toolbar-logout-button" (click)="logout()">Log out</button>
    <!--</div>-->

  </mat-toolbar>
  <app-main-sidenav #sidenav></app-main-sidenav>
</div>
