<div id="main-toolbar-container" class="toolbar-container">
  <mat-toolbar id="main-toolbar" class="toolbar" color="accent">
      <mat-icon id="main-toolbar-menu-button" (click)="sidenav.toggle()">menu</mat-icon>
      <a id="main-toolbar-title" class="toolbar-title" href="/listings" (click)="sidenav.close()">
        GT ThriftShop
      </a>
      <span class="toolbar-spacer"></span>
      <app-listings-feed-toolbar (listEvent)="list()"></app-listings-feed-toolbar>
    <button mat-button id="main-toolbar-sell-button" routerLink="/create-listing">
      <mat-icon>note_add</mat-icon>Sell
    </button>
    <button mat-button id="main-toolbar-logout-button" (click)="logout()">Logout</button>
  </mat-toolbar>
  <app-main-sidenav #sidenav></app-main-sidenav>
</div>
