#main-toolbar-menu-button {
  margin-right: 20px;
}

#main-toolbar-menu-button:active, #main-toolbar-menu-button:focus {
  outline: none;
}

#main-toolbar-menu-button mat-icon {
  height: auto;
  width: auto;
  font-size: 30px;
}

#main-toolbar-logout-button {
  font-size: 16px;
}

mat-toolbar-row {
  margin: auto;
  max-width: 920px;
}

app-main-sidenav {
  display: flex;
  flex: 1;
}
