<div id="main-toolbar-container" class="toolbar-container">
  <mat-toolbar id="main-toolbar" class="toolbar" color="accent">
    <mat-toolbar-row>
      <mat-icon id="main-toolbar-menu-button" (click)="sidenav.toggle()">menu</mat-icon>
      <a id="main-toolbar-title" class="toolbar-title" href="/listings" (click)="sidenav.close()">
        GT ThriftShop
      </a>
      <span class="toolbar-spacer"></span>
      <button mat-button id="main-toolbar-logout-button" (click)="logout()">Log Out</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-main-sidenav #sidenav></app-main-sidenav>
</div>
