<div class="box">
  <h2>Create Listing</h2>
  <div class="form-group">
    <label class="form-control-label">Name:</label>
    <input id="listing-name" class="form-control" class="form-control" type="text" title="name"
           [(ngModel)]="name"
           (keyup.enter)="onSubmit()">
  </div>
  <div class="form-group">
    <label class="form-control-label">Description:</label>
    <textarea id="ticket-description" class="form-control" type="text" title="message"
              [(ngModel)]="description"
              (keyup.enter)="onSubmit()"></textarea>
  </div>
  <div class="form-group">
    <label class="form-control-label">Price:</label>
    <input id="listing-price" class="form-control" class="form-control" type="number" title="name"
           [(ngModel)]="price"
           (keyup.enter)="onSubmit()">
  </div>
  <div class="form-group">
    <label class="form-control-label">Image URL:</label>
    <input id="listing-imageUrl" class="form-control" class="form-control" type="text" title="name"
           [(ngModel)]="imageUrl"
           (keyup.enter)="onSubmit()">
  </div>

  <button id="button-submit-ticket" class="btn btn-primary" type="button"
          (click)="onSubmit()" [disabled]='submitDisabled'>Submit</button>
</div>
