#main-sidenav-container {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  background-color: #e9e9e9;
  overflow: hidden;
}

#main-sidenav-container .mat-sidenav {
  position: fixed;
  top: 64px;
  left: 0;
  overflow: hidden;
}

#main-sidenav-container .mat-sidenav-content {
  overflow: visible;
}

#main-sidenav .mat-nav-list {
  padding: 0;
}

#main-sidenav .mat-nav-list a {
  padding-right: 100px;
  font-weight: normal;
}

#main-sidenav .mat-nav-list a:hover {
  background-color: #e9e9e9;
}

#main-sidenav .mat-nav-list .mat-icon {
  margin-right: 20px;
}
