<span id="hamburger-icon" appOcticon octicon="three-bars" width="30" [matMenuTriggerFor]="menu"></span>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/">Home</button>
  <button mat-menu-item routerLink="/profile">View Profile</button>
  <button mat-menu-item routerLink="/create-listing">Create Listing</button>
  <button mat-menu-item routerLink="/admin" *ngIf="isAdmin">Admin</button>
  <button mat-menu-item routerLink="/support">Support</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
