.listings-feed {
  margin-top: 40px;
}

.listings-not-found-message {
  font-size: 16pt;
}

.listing-card {
  margin: 0 auto;
  display: flex;
  height: 180px;
  width: 90%;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.listing-card:hover {
  box-shadow: 0 6px 2px -4px rgba(0,0,0,.2),
  0 4px 4px 0 rgba(0,0,0,.14),
  0 2px 10px 0 rgba(0,0,0,.12)
}

.listing-image {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 100%;
}

.listing-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.listing-text {
  display: block;
  width: 55%;
  padding: 0 20px 0 20px;
}

.listing-name {
  margin-bottom: 10px;
  font-size: 18pt;
  font-weight: bold;
}

.listing-seller {
  font-size: 11pt;
  margin-bottom: 20px;
}

.listing-description {
  font-size: 11pt;
}

.listing-price {
  width: 15%;
  margin: auto !important;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}
