<!--<app-listings-feed-toolbar (listEvent)="list()"></app-listings-feed-toolbar>-->
<div class="listings-feed">
  <span class="listings-not-found-message" *ngIf="listings && listings.length < 1">
    No item listings found
    <span *ngIf="hasSearchString()"> for <b>'{{searchString}}'</b></span>
    <span *ngIf="selectedCategoryIsNotAll()"> under category <b>'{{selectedCategory}}'</b></span>
    .
  </span>
  <mat-card class="listing-card" *ngFor="let listing of listings">
    <a routerLink="/listings/{{listing._id}}" class="listing-image" [ngStyle]="{ 'background-image': 'url(' + listing.imageUrl + ')'}"></a>
    <div class="listing-text">
      <div class="listing-name">
        <a routerLink="/listings/{{listing._id}}">{{listing.name}}</a>
        <mat-label class="listing-posted-date" >{{listing.createdAt | date: 'dd/MM/yyyy'}}</mat-label>
      </div>
      <div class="listing-seller">
        <a routerLink="/users/{{listing?.user?._id}}">{{listing.user.firstName}} {{listing.user.lastName}}</a>
      </div>
      <div class="listing-description">
        {{listing.description}}
      </div>
    </div>
    <div class="listing-card-right-content">
      <div class="listing-price">
        {{(listing.price) ? '$'+(listing.price) : ''}}
      </div>
      <a *ngIf="!(listing.user._id === currentUser._id)">
        <mat-icon class="flag-button" (click)="openFlagModal(listing)">flag</mat-icon>
      </a>

      <a *ngIf="listing.user._id === currentUser._id">
        <mat-icon class="flag-button" (click)="openEditListingModal(listing)" >edit</mat-icon>
      </a>
    </div>
  </mat-card>
</div>
