.listings-feed {
  margin: 20px 0px;
}

.listings-not-found-message {
  font-size: 16pt;
}

.listing-card {
  margin: 0 auto;
  display: flex;
  height: 180px;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.listing-card:hover {
  box-shadow: 0 6px 2px -4px rgba(0,0,0,.2),
  0 4px 4px 0 rgba(0,0,0,.14),
  0 2px 10px 0 rgba(0,0,0,.12)
}

/**
 * Same size thumbnails
 */
.listing-image {
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 100%;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.listing-image img {
  float: left
}

.listing-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
}

.listing-text {
  display: block;
  width: 50%;
  padding: 0 20px 0 20px;
}

.listing-name {
  margin-bottom: 10px;
  font-size: 18pt;
  font-weight: bold;
}

.listing-posted-date {
  font-weight: normal;
  font-size: 11pt;
  color: gray;
  padding-left: 5px;
}

.listing-seller {
  margin-bottom: 15px;
}

.listing-seller a {
  font-weight: bold;
}

.listing-description {
  height: 110px;
  overflow: auto;
}

.listing-price {
  width: 15%;
  margin: auto !important;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  color: green;
}

.listing-card-right-content {
  display: flex;
}

@media screen and (max-width:659px) {
  .listing-image {
    display: none;
  }

  .listing-card {
    width: 47%;
    margin-left: 20px;
  }

  .listing-price {
    margin: auto;
    font-size: 16pt;
    font-weight: bold;
  }

  .listing-name {
    font-size: 16pt;
  }

  .listing-text {
    padding: 0px;
    width: 85%;
    max-width: 260px;
  }

}
