<div id="title-bar">
  <div id="title-bar-content">
    <span id="title">GT ThriftShop</span>
    <button class="btn btn-primary" id="button-log-in" (click)="logIn()">Log In</button>
    <span class="text-box">
      <label>Password:</label>
      <input type="password" class="form-control text-box" id="password-field" title="password" [(ngModel)]="password">
    </span>
    <span class="text-box">
      <label>Email:</label>
      <input type="email" class="form-control text-box" id="email-field" title="email" [(ngModel)]="email">
    </span>
  </div>
</div>
