<b>Block this user: </b> <b class="block-user-username">{{data?.user?.firstName}} {{data?.user?.lastName}}</b>
<p> Reason(s) for blocking:
</p>
<app-flag-form #form></app-flag-form>

<div class="modal-buttons">
  <button mat-raised-button class="button-cancel-flag" (click)="close()" [disabled]="submitDisabled">
    Cancel
  </button>
  <button mat-raised-button class="button-submit-flag" color="primary" (click)="onSubmit(data?.user, form.getDescription())"
          [disabled]="submitDisabled">
    Block user
  </button>
</div>
