<h1 mat-dialog-title class="new-message-title">
  New Message
</h1>
<form class="classic-form">
  <mat-form-field>
    <mat-select placeholder="Recipient" [(ngModel)]="recipient" name="receiving user">
      <mat-option *ngFor="let user of users" [value]="user">{{user.firstName}} {{user.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="loadListings()"
          [disabled]="submitDisabled">Submit</button>
  <mat-form-field>
    <mat-select placeholder="Listing" [(ngModel)]="listingId" name="listing">
      <mat-option *ngFor="let listing of listings" [value]="listing._id">
        {{listing.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="loadListing()"
          [disabled]="submitDisabled">Submit</button>
  <mat-form-field class="example-full-width">
  <textarea matInput matTextareaAutosize matAutosizeMinRows="3" [(ngModel)]="message" name="message"
            placeholder="Message" (keyup.enter)="onSubmit()" ></textarea>
    <mat-error>Fill in the message field</mat-error>
  </mat-form-field>
  <div class="modal-buttons">
    <button mat-raised-button class="button-cancel-message" (click)="close()" [disabled]="submitDisabled">Cancel</button>
    <button mat-raised-button class="button-submit-message" color="primary" (click)="onSubmit()"
            [disabled]="submitDisabled">Submit</button>
  </div>
</form>
