<div class="listing-question">
  <div class="listing-question-question">
    <a routerLink="/users/{{question?.user?._id}}">{{question?.user?.firstName}} {{question?.user?.lastName}}</a>:
    {{question.question}}
  </div>
  <div class="listing-question-answer">
    <span *ngIf="question?.answer; else questionIsUnanswered"><b>Answer:</b> {{question.answer}}</span>
    <ng-template #questionIsUnanswered>
      <span class="listing-question-not-answered">This question has not yet been answered.</span>
    </ng-template>
  </div>
  <form class="listing-question-form" *ngIf="currUserId === listing?.user?._id">
    <mat-form-field class="listing-question-form-field">
      <input matInput placeholder="Answer" type="text" title="Answer" name="answer" [(ngModel)]="answer"
             (keyup.enter)="onSubmitAnswer()">
    </mat-form-field>
    <button mat-raised-button id="button-post-message" color="primary" (click)="onSubmitAnswer()"
            [disabled]="submitDisabled">
      {{question?.answer ? 'Change Answer' : 'Answer Question'}}
    </button>
  </form>
</div>
