.listing-question {
  margin-bottom: 12px;
  border-top:  1px #dddddd solid;
  font-size: 12pt;
}

.listing-question-listing {
  margin-top: 12px;
  font-size: 14pt;
}

.listing-question-question,
.listing-question-answer {
  margin-top: 12px;
}

.listing-question-not-answered {
  color: gray;
}

.listing-question-form {
  display: flex;
  margin-top: 12px;
}

.listing-question-form-field {
  width: 80%;
  margin-right: 20px;
}

.listing-question-form .mat-raised-button {
  height: 36px;
  margin: auto 0;
}
