#listing-toolbar {
  margin-bottom: 10px;
  background-color: #EEB211;
}

#category-select-form-field {
  width: 22%;
  margin-right: 30px;
  font-size: 14pt;
}

#search-input-form-field {
  width: 30%;
  margin-right: 30px;
  font-size: 14pt;
}

#sort-select-form-field {
  width: 22%;
  font-size: 14pt;
}

#category-label {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14pt;
}

#search-icon {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14pt;
}

#sort-label {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14pt;
}
