<div class="page-content">
  <div class="box">
    <h2>Reset Password</h2>
    <div class="form-group" [ngClass]="showErrorPassword ? 'has-danger' : ''">
      <label class="form-control-label" for="password-reset-password-field">Password:</label>
      <input id="password-reset-password-field" class="form-control" type="password" title="password" name="password"
             [(ngModel)]="password" (blur)="onBlurPassword()" (keyup.enter)="onSubmit()">
      <div class="form-control-feedback"
           [ngStyle]="showErrorPassword ? {'visibility': 'visible'} : {'visibility': 'hidden'}">
        Please enter a password that has {{minPasswordLength}} or more characters.
      </div>
    </div>
    <div class="form-group" [ngClass]="showErrorConfirmedPassword ? 'has-danger' : ''">
      <label class="form-control-label" for="password-reset-confirmed-password-field">Confirm Password:</label>
      <input id="password-reset-confirmed-password-field" class="form-control" type="password"
             title="confirmed-password" name="confirmed-password" [(ngModel)]="confirmedPassword"
             (blur)="onBlurConfirmedPassword()" (keyup.enter)="onSubmit()">
      <div class="form-control-feedback"
           [ngStyle]="showErrorConfirmedPassword ? {'visibility': 'visible'} : {'visibility': 'hidden'}">
        Please enter a password that has {{minPasswordLength}} or more characters.
      </div>
    </div>
    <button id="button-reset-password" class="btn btn-primary" type="button" (click)="onSubmit()"
            [disabled]="submitDisabled">
      Reset Password
    </button>
  </div>
</div>
