<mat-card id="password-reset-card">
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput required placeholder="Password" type="password" title="password" name="password"
               [(ngModel)]="password" (keyup.enter)="onSubmit()" [errorStateMatcher]="passwordErrorStateMatcher">
        <mat-error>Please enter a password that has {{minPasswordLength}} or more characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder="Password" type="password" title="confirmed-password"
               name="confirmed-password" [(ngModel)]="confirmedPassword" (keyup.enter)="onSubmit()"
               [errorStateMatcher]="passwordErrorStateMatcher">
        <mat-error>Please enter a password that has {{minPasswordLength}} or more characters.</mat-error>
      </mat-form-field>

      <button mat-raised-button id="button-reset-password" color="primary" (click)="onSubmit()"
              [disabled]="submitDisabled">
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
