<app-login-bar></app-login-bar>
<div id="page-content">
  <div id="register-box" class="box">
    <h2>Create a New Account</h2>
    <p>All you need is a Georgia Tech email address!</p>
    <div class="form-group" [ngClass]="showErrorFirstName ? 'has-danger' : ''">
      <label class="form-control-label" for="register-field-first-name">First Name:</label>
      <input id="register-field-first-name" class="form-control" type="text" title="first-name" [(ngModel)]="firstName"
             (keyup.enter)="onSubmit()">
      <div class="form-control-feedback"
           [ngStyle]="showErrorFirstName ? {'visibility': 'visible'} : {'visibility': 'hidden'}">
        Please enter a first name.
      </div>
    </div>
    <div class="form-group" [ngClass]="showErrorLastName ? 'has-danger' : ''">
      <label class="form-control-label" for="register-field-last-name">Last Name:</label>
      <input id="register-field-last-name" class="form-control" type="text" title="last-name" [(ngModel)]="lastName"
             (keyup.enter)="onSubmit()">
      <div class="form-control-feedback"
           [ngStyle]="showErrorLastName ? {'visibility': 'visible'} : {'visibility': 'hidden'}">
        Please enter a last name.
      </div>
    </div>
    <div class="form-group" [ngClass]="showErrorEmail ? 'has-danger' : ''">
      <label class="form-control-label" for="register-field-email">Email:</label>
      <input id="register-field-email" class="form-control" type="email" title="email" name="username"
             [(ngModel)]="email" (blur)="onBlurEmail()" (keyup.enter)="onSubmit()">
      <div class="form-control-feedback"
           [ngStyle]="showErrorEmail ? {'visibility': 'visible'} : {'visibility': 'hidden'}">
        Please enter a valid Georgia Tech email address.
      </div>
    </div>
    <div class="form-group" [ngClass]="showErrorPassword ? 'has-danger' : ''">
      <label class="form-control-label" for="register-field-password">Password:</label>
      <input id="register-field-password" class="form-control" type="password" title="password" [(ngModel)]="password"
             (blur)="onBlurPassword()" (keyup.enter)="onSubmit()">
      <div class="form-control-feedback"
           [ngStyle]="showErrorPassword ? {'visibility': 'visible'} : {'visibility': 'hidden'}">
        Please enter a password that has {{getMinPasswordLength()}} or more characters.
      </div>
    </div>
    <button id="button-create-account" class="btn btn-primary" type="button" (click)="onSubmit()"
            [disabled]="submitDisabled">
      Create Account
    </button>
  </div>
</div>
