<mat-card id="register-card">
  <mat-card-header>
    <mat-card-title>Create a New Account</mat-card-title>
    <mat-card-subtitle>All you need is a Georgia Tech email address!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput required placeholder="First Name" type="text" title="first-name" name="first-name"
               [(ngModel)]="firstName" (keyup.enter)="onSubmit()">
        <mat-error>Please enter a first name.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder="Last Name" type="text" title="last-name" name="last-name"
               [(ngModel)]="lastName" (keyup.enter)="onSubmit()">
        <mat-error>Please enter a last name.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder="Email" type="email" title="email" name="username" [(ngModel)]="email"
               (keyup.enter)="onSubmit()" [errorStateMatcher]="emailErrorStateMatcher">
        <mat-error>Please enter a valid Georgia Tech email address.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder="Password" type="password" title="password" name="password"
               [(ngModel)]="password" (keyup.enter)="onSubmit()" [errorStateMatcher]="passwordErrorStateMatcher">
        <mat-error>Please enter a password that has {{minPasswordLength}} or more characters.</mat-error>
      </mat-form-field>

      <button mat-raised-button id="button-create-account" color="primary" (click)="onSubmit()"
              [disabled]="submitDisabled">
        Create Account
      </button>
    </form>
  </mat-card-content>
</mat-card>
