/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #e9e9e9;
  font-family: Roboto, sans-serif;
}

.toolbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  z-index: 2;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 1px 5px 0 rgba(0,0,0,.12)
}

.toolbar mat-toolbar-row {
  max-width: 860px;
  min-width: 860px;
  margin: auto;
  padding: 0;
}

.toolbar-title {
  font-size: 20px;
  color: white;
  font-family: Lato, sans-serif;
}

.toolbar-title:hover, .toolbar-title:active, .toolbar-title:focus {
  color: white;
  text-decoration: none;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-content {
  background-color: #e9e9e9;
}

.main-content-container {
  width: auto;
  max-width: 900px;
  min-width: 700px;
  margin: 12px auto 0 auto;
}

.mat-select-panel {
  max-height: none !important;
}

.mat-card {
  padding: 20px !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-title {
  font-family: Lato, sans-serif;
  font-size: 20pt !important;
}

.mat-card-subtitle {
  font-size: 11pt !important;
}

.classic-form .mat-form-field {
  display: block;
  width: 100%;
  max-width: 500px;
}

.classic-form button {
  display: block;
  margin-top: 10px !important;
}

.modal-buttons {
  display: block;
  float: right;
}

.modal-buttons button {
  display: inline-block;
}

.flag-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.flag-button:hover {
  color: red;
  cursor: pointer;
}

a {
  color: #0d47a1;
  text-decoration: none;
  font-weight: light;
}

a:hover {
  text-decoration: underline;
}
