/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #e9e9e9;
  font-family: Roboto, sans-serif;
}

.toolbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
  0 1px 2px rgba(0,0,0,0.24);
}

.main-content {
  background-color: #e9e9e9;
}

.main-content-container {
  width: auto;
  max-width: 900px;
  min-width: 700px;
  margin: 10px auto 0 auto;
}

h2 {
  margin-bottom: 10px;
}

a {
  color: #004aa0;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

label {
  margin: 0 !important;
}

.page-content {
  width: auto;
  max-width: 900px;
  min-width: 700px;
  margin: auto;
}

.box {
  display: block;
  width: auto;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12),
  0 1px 2px rgba(0,0,0,0.24);
  text-align: left;
}

.box h1, .box h2, .box h3 {
  margin-top: 0;
  font-family: Lato, sans-serif;
}

.box p {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #004082;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #004aa0;
  border: none;
}

.btn {
  cursor: pointer;
}

.form-control-feedback {
  font-size: 12px;
}
