.profile-card {
  display: flex !important;
  flex-wrap: nowrap;
}

.img-container {
  display: inline-block;
  width: 30%;
}

.img-container img {
  width: 100%;
  border-radius: 2px;
}

.profile-text {
  display: inline-block;
  width: 70%;
  margin-left: 20px;
}

.user-name {
  font-size: 22pt;
}

.user-email {
  font-size: 14pt;
}

.user-bio-text {
  font-size: 12pt;
}

.user-bio {
  font-size: 14pt;
  margin-bottom: 10px;
}







