<app-title-bar></app-title-bar>
<div class="page-content">
  <div class="profile-box">
    <div class="imgContainer">
      <img src="https://web.usask.ca/images/profile.jpg"/>
      <form name="myForm">
        <fieldset>

        </fieldset>
        <br>
      </form>
    </div>
    <div class="profile-text">
      <div class="profile-name">
        <p>{{user.firstName}} {{user.lastName}}</p>
      </div>
      <div class="user-email">
        email: {{user.email}}
      </div>
    </div>
  </div>
</div>

