#form-container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  padding: 40px;
  margin-top: 30px;
}

#button-submit-ticket {
  border-radius: 0%;
  float: right;
  width: 140px;
}

#ticket-input {
  height: 100px;
}
