<mat-card id="contact-card">
  <mat-card-header>
    <mat-card-title>Contact Us</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="classic-form">
      <mat-form-field>
        <input matInput required placeholder="Subject" type="text" title="subject" name="subject"
               [(ngModel)]="subject" (keyup.enter)="onSubmit()">
        <mat-error>Please enter a subject.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput matTextareaAutosize [matAutosizeMinRows]="3" required placeholder="Message" type="text"
                  title="message" name="message" [(ngModel)]="message" (keyup.enter)="onSubmit()"></textarea>
        <mat-error>Please enter a message.</mat-error>
      </mat-form-field>

      <button mat-raised-button id="button-submit-ticket" color="primary" (click)="onSubmit()"
              [disabled]="submitDisabled">
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
